<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h2>Welcome to the Address Book</h2>
            <p class="lead">Please open the content management system and select the "Contacts" section to see all contacts.</p>
            <i class="fas fa-address-book fa-5x text-primary"></i>
        </div>
    </div>
</div>
